*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}
body{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg,red,blue);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 100%;
    max-width: 60rem;
    margin: 3rem auto;
    border-radius: 1rem;
    background-color: white;
    padding: 1rem;
    max-height: 90%;
    height: 100%;
    /* overflow: hidden; */
    /* border: 3px solid black; */
    position: relative
   
   
}
main h1{
    text-align: center;
    color: rgb(255, 0, 140);
    font-size: 3rem;
}
#input_container {
    display: flex;
    background-color: #f0edef;
    border-radius: 3rem;
    overflow: hidden;
}

#input_container input{
    width: 100%;
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 2rem;
    font-size: 2.2rem;
    padding: 0.7rem 1.5rem;
    font-weight: 600;
    
}

.btn{
    padding: 0.8rem 1.5rem;
    border-radius: 2rem;
    font-size: 1.9rem;
    font-weight: 700;
    border: none;
    outline: none;
    background-color: rgb(126, 17, 108);
    color: white;
    cursor: pointer;
}

@media(max-width:600px)
{
    html{
        font-size: 55%;
    }
}
#task_container{
    width: 100%;
    /* border: 3px solid red; */
    height: 80%;
    overflow-y: auto;
}

#task_container ul{
    /* font-size: 2rem; */
    
    list-style: none;
    margin: 1rem 0;
    color: green;
    
}
#task_container ul li{
    margin: 1rem 0;
    /* border: 1px solid red; */
    padding: 0.7rem 5rem 0.7rem 5rem;
    border-radius: 1rem;
    position: relative;
    width: 100%;
    cursor: default;
    /* background-color: rgb(255, 0, 128); */
}

ul li:hover{
    background-color: rgb(0, 255, 170);

}
ul li input{
    width: 100%;
    height: 100%;
    font-size: 2rem;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: transparent;
    color: green;
    padding-right: 2rem;
    display: block;
    /* background-color: red; */
}

ul li .img{
    background-image: url(./unchecked.png);
    height: 2.5rem;
    width: 2.5rem;
    position: absolute;
    left: 1.2rem;
    top:50%;
    transform: translateY(-50%);
    background-size: contain;
    cursor: pointer;
}
ul li.checked .img{
    background-image: url(./checked.png);
}
ul li.checked input{
    text-decoration: line-through;
    color: orangered;
    
}

li #icon-container{

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-width: 0;
    transition: all 0.4s ease-in-out;
}

li .icon{
    padding: 0rem 0.8rem;
    font-size: 2.5rem;
    display: flex;
    color: black;
    top: 0;
    transition: all 0.5s ease-in-out;
}

li .icon i{
    margin: 0 0.5rem;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    
}
li .icon:nth-child(2)
{
    position: absolute;
    top: 150%;
    transition: all 0.5s ease-in-out;
}
li.active #icon-container .icon:nth-child(1)
{
    transform: translateY(-150%);
}
li.active #icon-container .icon:nth-child(2)
{
    top: 0;
}
li .icon i:hover{
    color: orangered;
}
ul li.active{
    background-color: rgb(255, 0, 128);
}
ul li.active input{
    color: white;
}
ul li.active i:hover{
    color: white;
}

 ul li:hover #icon-container{
    max-width: 13rem;
}  

#statusbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 600;
    color: rgb(248, 241, 243);
    background-color: rgb(253, 11, 91);
    border-radius: 0.5rem;
    padding: 0.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
   
}


